@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(225.41deg, #08415C 9.87%, #569CBD 120.01%);
    color:#08415C;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    background-repeat: no-repeat;
    min-height:100vh;
    min-width: 100vh;
    display: flex;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 350px;
    max-height: 70vh;
    border-radius: 10px;
    margin-left: 20vh;
    margin-top: 20vh;
}


main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 30%;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(225.41deg, #08415C 9.87%, #569CBD 120.01%);
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
}

form .input-field{
    margin-bottom: 1.2rem;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(268.47deg, #F7B801 0.43%, #EE9D00 100%);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder{
    color: rgba(0, 0, 0, 0.45);
}

form input[type="submit"]{
    margin-top: 0.5rem;
    padding: 0.4rem;
    background: linear-gradient(268.47deg, #F7B801 0.43%, #EE9D00 100%);
    border-radius: 24px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.5px;
}


section.images{
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    margin-left: 40vh;
}

section.images img{
    width: 80%;
}

section.images .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(268.47deg, #F7B801 0.43%, #EE9D00 100%);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}

